html {
    background-color: #009edb;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0099cc;
}

footer {
  margin-top: auto;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-family: Arial, sans-serif;
}